h1{
  @apply text-black  text-2xl font-bold leading-9 tracking-normal;
}

h2{
  @apply text-black text-xl font-bold leading-9 tracking-normal;
}

h3{
  @apply font-semibold text-lg;
}


label{
  @apply font-semibold text-sm;

}

#banner{
  -webkit-mask-image: url('/public/assets/svgs/banner-bg-clip.svg');
  -webkit-mask-size: 100% 100%;
  mask-image: url('/public/assets/svgs/banner-bg-clip.svg');
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-clip: content-box;
  background-image: url('/public/assets/svgs/banner-bg-clip.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @apply w-full h-32 ;
}

div:has(> label):has(> input), div:has(> label):has(> div){
  @apply flex flex-col gap-2;
}

::-moz-placeholder, ::-webkit-input-placeholder, ::placeholder{
  @apply text-sm;
}

input{
  @apply text-sm grow max-w-[30svw];
}


#confirm_flight_line::after{
  content: '';
  @apply rounded-full bg-gray-200 w-2 h-2 block absolute right-0 top-0 -translate-y-1/2;
}

#confirm_flight_line::before{
  content: '';
  @apply rounded-full bg-gray-200 w-2 h-2 block absolute left-0 top-0 -translate-y-1/2;
}