h1{
  @apply text-black  text-2xl font-bold leading-9 tracking-normal;
}

h2{
  @apply text-black text-xl font-bold leading-9 tracking-normal;
}

h3{
  @apply font-semibold text-lg;
}


label{
  @apply font-semibold text-sm;

}

#banner{
  -webkit-mask-image: url('/public/assets/svgs/banner-bg-clip.svg');
  -webkit-mask-size: 100% 100%;
  mask-image: url('/public/assets/svgs/banner-bg-clip.svg');
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-clip: content-box;
  background-image: url('/public/assets/svgs/banner-bg-clip.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @apply w-full h-32 ;
}

div:has(> label):has(> input), div:has(> label):has(> div){
  @apply flex flex-col gap-2;
}

::-moz-placeholder, ::-webkit-input-placeholder, ::placeholder{
  @apply text-sm;
}

input{
  @apply text-sm grow max-w-[30svw];
}


#confirm_flight_line::after{
  content: '';
  @apply rounded-full bg-gray-200 w-2 h-2 block absolute right-0 top-0 -translate-y-1/2;
}

#confirm_flight_line::before{
  content: '';
  @apply rounded-full bg-gray-200 w-2 h-2 block absolute left-0 top-0 -translate-y-1/2;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E5E5E5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 50%;
  transform:translate(0, -50%);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  @apply shadow;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {

  transform:translate(18px, -50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}